body{
                font-family: Poppins, serif;
                background-image: url("/home/penelope/Desktop/Codes/Beulah/FARM/bloom.jpg");

            }
           .div-images{
	display: flex;
}
.div1{
	flex: 1;
}
.div1:first-child{
	margin-right: 20px;
}
.barra1{
    box-sizing: border-box;
    align-items: center;
    display: inline; 
    padding-right: 15px;
    color: whitesmoke;
    text-decoration: none; 
}


.links{
	transition: transform .2s;
	margin: 0 auto;
	color: whitesmoke;
}
.links:hover{
  	background-color: whitesmoke;
  	color: black;
  	border-radius: 20px;
    transition: .3s;
    padding:6px 6px 6px 6px;
	box-shadow: 2px 2px 2px rgba(0,0,0,.7);
	cursor: pointer;

}
.divMenu{
    text-align: left;
    align-content: right;
}
.lista{
    text-transform: uppercase; 
    display: inline-block; 
    text-align: center;
    list-style: none;
}

.divMenu2{
    text-align: center;
    background-color: transparent;   
}


.logo{
	text-align: center;
  	max-height: 40px;  
}   

    .obj{
        margin-top: 100px;
        max-width: 220px;
        font-size: small;
        text-align: justify;
        

    }

    .fa{
	padding: 5px;
	text-align: center;
		margin: 5px;
		width: 50px;

}
.fa-facebook {
	border-radius: 10px;
	background-color: whitesmoke;
		color: black;
}
.fa-instagram {
		border-radius: 10px;
	background-color: whitesmoke;
		color: black;
}
.fa-linkedin {
		border-radius: 10px;
	background-color: whitesmoke;
		color: black;
}

.tooltiptext {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  
  color: black;
  font-size: 12px;
  background-color: orangered;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
}
.hover-text:hover .tooltiptext {
		visibility: visible;
}
.tooltiptext1 {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  
  color: black;
  font-size: 12px;
  background-color: orangered;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
}
.hover-text:hover .tooltiptext1 {
		visibility: visible;
}
.tooltiptext2 {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  
  color: black;
  font-size: 12px;
  background-color: orangered;
  border-radius: 10px;
  padding: 10px 15px 10px 15px;
}
.hover-text:hover .tooltiptext2 {
		visibility: visible;
}


.hover-text {
  margin: 5px;
  font-family: Arial;
}

.mySlides {
	display: none;
}
.sliderr {
	vertical-align: middle;
	min-block-size: 500px;
	width: 500px;
	border-radius: 15px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;

  margin-top: 50px;
  margin-bottom: 50px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  background-color: black;
  border-bottom-right-radius: 2px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


.gro{
	max-width: 220px;
}
.obj1{
	
	margin-top: 100px;
	max-width: 300px;
	font-size: small;
	text-align: justify;
	float:left;
	margin-right:50px ;
	height:325px;
	background-color: indianred;
	box-shadow: 20px 20px 5px rgba(0,0,0,.5);
	padding-right: 15px;padding-bottom: 37px;padding-left: 15px;padding-top: 15px;
	box-shadow: 20px 20px 5px rgba(0,0,0,.5);

}

.obj1:hover{
	
	transition: .6s;
	padding:20px 20px 20px 20px;
	border-radius: 15px;
	cursor: pointer;
}

.obj2{
	margin-top: 100px;
	max-width: 300px;
  	font-size: small;
	text-align: justify;
	float:left;
	margin-right:50px ;
	height:310px;
	background-color: green;
	padding-right: 15px;padding-bottom: 33px;padding-left: 15px;padding-top: 15px;
	box-shadow: 20px 20px 5px rgba(0,0,0,.5);
	
}

.obj2:hover{
	transition: .6s;
	padding:20px 20px 30px 20px;
	border-radius: 15px;
	cursor: pointer;
}

.obj3{
	margin-top: 90px;
	max-width: 300px;
	font-size: small;
	text-align: justify;
	float:left;
	margin-right:50px ;
	height:335px;
	background-color: yellow;
	padding-right: 15px;padding-bottom: 27px;padding-left: 15px;
	box-shadow: 20px 20px 5px rgba(0,0,0,.5);
	
}

.obj3:hover{
		transition: .6s;
		padding:20px 20px 20px 20px;
	border-radius: 15px;
	cursor: pointer;
   }

.wrapper{
    max-width: 1200px;
    position: relative;
    display: flex;
}
.wrapper i{
    top: 50%;
    height: 46px;
    width: 46px;
    cursor: pointer;
    position: absolute;
    font-size: 1.2rem;
    text-align: center;
    line-height: 46px;
    border-radius: 75%;
    transform: translateY(-50%);
    
}
.wrapper i:first-child{
    left: -23px;
    display: none;
}
.wrapper i:last-child{
    right: -23px;
}
.wrapper button{
    background-color: navajowhite;
    border-color: palevioletred;
}
.wrapper .carousel{
	margin-left: 60px;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    scroll-behavior: smooth;
    
}
.carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
}
.carousel.dragging img{
    pointer-events: none;
}
.carousel img{
    height: 340px;
    object-fit: cover;
    width: calc(100%/2);
    margin-left: 14px;
    border-radius: 0px;
}

.carousel img: :first-child{
    margin-left:0px;
}
@media screen and (max-width:550px) {
    .carousel img{
        width: 100%;
    }
}

.glow{
	font-size: 20px;
	
	text-align:left;
	animation: glow 1s ease-in-out infinite alternate;
}
.divIntro{
	text-align: justify;
	color: black;
	background-color: whitesmoke;
	opacity: 0.6;
	border: 1px solid seagreen;
	margin: 30px 30px 30px 30px;
	padding: 10px 10px 10px 10px;
	box-shadow: 20px 20px 5px rgba(.5,.5,.5,.5);
}
